@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Upload XML file to Edit</h2>
    <form method="post" enctype="multipart/form-data" action="@Url.Action("Upload", "Home")">
        <fieldset>
            <input type="file" name="xmlFile" accept=".xml" />
        </fieldset>
        <br />
        <input type="submit" value="Upload" />
    </form>
    <div style="color:red;">
        @ViewBag.UploadError
    </div>
</div>